<%- include('../layout/head'); %>
    
<div class="container-fluid mt-5 mb-5">
    <div class="row mb-5">
        <div class="col-12 text-center">
            Jawaban 8,9 & 10 = <a href="/answer">klik disini</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="btn-group w-100">
                        <button type="button" class="btn dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kategori
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Kategori 1</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="btn-group w-100">
                        <button type="button" class="btn dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jumlah Data
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">10</a>
                            <a class="dropdown-item" href="#">25</a>
                            <a class="dropdown-item" href="#">50</a>
                            <a class="dropdown-item" href="#">100</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-secondary w-100">Tampilkan</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4 col-4 mb-3">
                    <button type="button" class="btn btn-secondary w-100" data-toggle="modal" data-target="#tambahProduk">Tambah Product</button>
                </div>
                <div class="col-md-4 col-4 mb-3">
                    <a href="/exportXML" target="_blank" type="button" class="btn btn-secondary w-100">Export to XML</a>
                </div>
                <div class="col-md-4 col-4 mb-3">
                    <a href="/exportExcel" target="_blank"type="button" class="btn btn-secondary w-100">Export to Excel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Produk -->
        <% for(let i=0; i < product.length; i++) { %>
            <div class="col-md-3 col-12 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">
                        <%= product[i].name %>
                    </h5>
                    <p class="card-text">
                        <%= product[i].description %>
                    </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Rp. <%= product[i].price %>
                        </p>
                        <a data-toggle="modal" data-target="#editProduk<%= product[i].id %>" class="card-link" style="cursor: pointer;">Edit</a>
                        <a data-toggle="modal" data-target="#deleteProduk<%= product[i].id %>" class="card-link text-danger" style="cursor: pointer;">Delete</a>
                    </div>
                </div>
            </div>

            <!-- Modal Update Produk -->
            <div class="modal fade" id="editProduk<%= product[i].id %>" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/productUpdate" method="post">
                                <input name="id" value="<%= product[i].id %>" hidden>
                                <div class="form-group">
                                    <label>Title</label>
                                    <div class="input-group">
                                        <input id="validationServerUsername" value="<%= product[i].name %>" name="name" type="text" class="form-control" placeholder="Enter title" aria-describedby="inputGroupPrepend3" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="input-group">
                                        <textarea id="validationServerUsername" name="description" class="form-control" plceholder="Enter description" rows="3" required>
                                            <%= product[i].description %>
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Price</label>
                                    <div class="input-group">
                                        <input id="validationServerUsername" value="<%= product[i].price %>" name="price" type="text" class="form-control" placeholder="Enter price" aria-describedby="inputGroupPrepend3" required>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Produk -->
            <div class="modal fade" id="deleteProduk<%= product[i].id %>" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Anda yakin mau menghapus data ini?
                        </div>
                        <div class="modal-footer">
                            <form action="/productDelete" method="post">
                                <input name="id" value="<%= product[i].id %>" hidden>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    
        <% if(product.length === 0) { %>
            <div class="col-12">
                <div class="card">
                    <h5 class="card-title mb-0 text-center">Not Found</h5>
                </div>
            </div>
        <% } %>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Pagination -->
            <!-- <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
                </ul>
            </nav> -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tambahProduk" tabindex="-1" role="dialog" aria-hidden="true">
        <%- include('./modals/tambahProduk'); %>
    </div>

</div>

<%- include('../layout/footer'); %>